NEXT_PUBLIC_WEATHER_API_KEY=c675a60b384197ee49b63a477a54c5f4
NEXT_PUBLIC_WEATHER_API_URL=https://api.openweathermap.org/data/2.5/onecall
NEXT_PUBLIC_WEATHER_API_UNITS=metric
NEXT_PUBLIC_WEATHER_API_LANG=en